################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PhonieCore
/Mfrc522/bin/Debug/netcoreapp3.0
/Mfrc522/obj/Debug/netcoreapp3.0
/Mfrc522/obj
/PhonieCore/bin/Debug/netcoreapp3.0
/PhonieCore/obj/Debug/netcoreapp3.0
/PhonieCore/obj
/Pn532/bin/Debug/netcoreapp3.0
/Pn532/obj/Debug/netcoreapp3.0
/Pn532/obj
/Rfid/bin/Debug/netcoreapp3.0
/Rfid/obj
/PhonieCore/properties/PublishProfiles
/IMG
/Mfrc522/bin
/PhonieCore/bin
/Pn532/bin
/Rfid/bin
/spotify.txt
/PhonieCore.sln.DotSettings
